.ourteam-heading {
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
.card-bottom {
  display: flex;
}
.role {
  margin-right: 3rem;
}
.ourteam-row {
  margin-top: 4rem;
  margin-left: 7rem;
}
.goal {
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
}
.platform {
  text-align: center;
  font-weight: bold;
  margin-bottom: 6rem;
}
.core {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
}
.corevalue-row {
  font-weight: 400;
  color: grey;
  margin-left: 12rem;
}
.color-blue {
  color: rgb(67, 167, 206);
}
.color-pink {
  color: rgb(197, 70, 91);
}
.image {
  text-align: center;
}
