@import "../../../styles/base.scss";

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// ##################### MAIN COMPONENT #####################
.main-row {
  margin: 0px 1.8rem;
}
.card-category-title {
  margin-top: 2rem;
  font-weight: 600 !important;
}
.row-of-card {
  margin-top: 1.25rem;
}
// ##################### MAIN COMPONENT ENDS #####################

// ##################### CHECK-BOX #####################
.title {
  &:first-child {
    margin-top: 0;
  }
  margin: 1.5rem 0;
  font-weight: 600 !important;
  font-size: 16px;
}
.label-check {
  margin-left: 1.5rem;
}
.check-badge {
  margin: 0 0 0.125rem 0.5rem;
}
// ##################### CHECK-BOX ENDS #####################

// ##################### CARD #####################
.card-img-overlay {
  justify-content: flex-end;
  padding: 1rem !important;
  align-items: flex-start;
}
.joined {
  margin-left: 0.75rem;
  font-weight: 500 !important;
}

.zindex-top {
  z-index: 1;
}

.blue-text {
  color: $button-secondary;
}

.user {
  padding-top: 1rem;
}

.card-shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

// ##################### CARD ENDS #####################
