@import "~include-media/dist/_include-media.scss";

$primary: #ffffff;
$secondary: #e9ecef;

$primary-inverse: #111111;

$button-primary: #ea4997;
$button-secondary: #2277ff;
// $button-secondary: #117a8b
$badge-primary: #007bff;

$text-primary: #000000;
$text-secondary: rgba(0, 0, 0, 0.5);

$text-primary-inverse: #ffffff;
$text-secondary-inverse: $text-secondary;

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
