.contact-container {
  display: grid;
}

.item1 {
  background-color: white;
  grid-row: 1 / span 4;
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 50px;
}

.item2 {
  grid-row: 5 / span 8;
  background: #834ce6;
  background-color: #3787f6;
  background-image: linear-gradient(315deg, #3787f6 0%, #733fed 74%);
  padding-top: 4%;
  padding-left: 5%;
}

.contact-header {
  background-color: white;
}
