.contact-main {
  display: grid;
  color: white;
  height: 550px;
}

.form {
  grid-column: 1 / 5;
}

.details {
  grid-column: 8 / 9;
}

.lady {
  position: relative;
  bottom: 400px;
  grid-column: 10 / 12;
}
.contact-icons {
  height: 1.75rem;
  color: white;
}

Button {
  width: 8rem;
}
