.contact-main {
  display: grid;
  color: white;
}

.form {
  grid-column: 1 / span 4;
  width: 79%;
  margin-top: 15px;
  // row-gap: 15px;
}

.abc {
  border-radius: 20px;
}

.details {
  grid-column: 5 / span 3;
}

.lady {
  position: relative;
  bottom: 400px;
  grid-column: 8 / span 5;
}
.contact-icons {
  height: 1.75rem;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 350px;
  width: 100%;
  padding: 0 4rem;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 100%;
}
