.contact-container {
  display: grid;
}

.item1 {
  background-color: white;
  grid-row: 1 / span 4;
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 50px;
}

.item2 {
  grid-row: 5 / span 8;
  background: #834ce6;
  background: -webkit-linear-gradient(top, #834ce6, #2bd59f);
  background: -moz-linear-gradient(top, #834ce6, #2bd59f);
  background: linear-gradient(to bottom, #834ce6, #2bd59f);
  padding-top: 4%;
  padding-left: 5%;
}

// .item3 {
//   grid-row: 5 / span 8;
//   background-color: white;
// }

.contact-header {
  // display: grid;
  // margin: auto;
  background-color: white;
}
