@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

$pink: #ea4997;
$purple: #723fec;

/*=====================================
                EVENT
======================================*/
main{
  margin:5rem 5rem;
}

.banner{
  height: 50vh;
  border-radius:15px;
  position: relative;
  padding:2rem;
  background: url('./banner.png');
}

.banner-info{
  border-radius:15px;
  padding:2rem;
  background-color:white;
}

.subtype-activity{
  margin-left:1rem;
  background-color: white;
  border:2px solid $pink;
  border-radius:15px;
  color:$pink;
}

.banner-container{
  position: relative;
  height: 100%;
}

.flex-points{
  display: flex;

  p{
    margin-right:1rem;
  }

  img{
    height:30px;
    width:30px;
    transform: translate(0,-10px);
  }

  .points{
    margin-left:0.3rem;
    font-size:2rem;
  }
}

.event-organizer-info{
  h5{
    font-weight:normal;
    font-size: 1.8rem;
  }

  p{
    text-transform: capitalize;

    b{
      font-size:1rem;
    }
  }
}

.flex-banner-top,.flex-banner-bottom{
  position: absolute;
  display: flex;
  width:100%;
  justify-content: space-between;

  .attendees-info,.event-info{
    color: white;
    font-size:1.1rem;
  }
}

.flex-banner-top i{
  padding-right:1rem;
}
.flex-banner-bottom{
  bottom:0;
}


.white-card{
  background-color: white;
  padding:0.8rem 1.5rem;
  border-radius:20px;
}

.btn-cancel-wrapper{
  padding:0.8rem;
  color:white;
  background-color: $purple;
  border-radius: 15px;

  label{
    padding:0 1rem;
    font-size: 1.2rem;
  }

  .btn-cancel{
    font-size: 1.1rem;
    background-color:white;
    border: none;
    outline:none;
    border-radius: 15px;
    color:$purple;
    padding:0.5rem 1.2rem;
  }
}


.btn-attend{
  border: none;
  outline:none;
  background-color:$pink;
  color:white;
  padding:0.7rem 2rem; 
  border-radius:15px;
  font-size: 1.2rem;
}
/*=====================================*/