@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&display=swap");
* {
  font-family: "Kanit", sans-serif;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

$pink: #ea4997;
$purple: #723fec;

/*=====================================
                EVENT
======================================*/
main {
  margin: 5rem 5rem;
}

.banner {
  height: 50vh;
  border-radius: 15px;
  position: relative;
  padding: 2rem;
  background: url("./banner.png");
}

.banner-info {
  border-radius: 15px;
  padding: 2rem;
  background-color: white;
}

.subtype-activity {
  margin-left: 1rem;
  background-color: white;
  border: 2px solid $pink;
  border-radius: 15px;
  color: $pink;
}

.banner-container {
  position: relative;
  height: 100%;
}

.flex-points {
  display: flex;

  p {
    margin-right: 1rem;
  }

  img {
    height: 30px;
    width: 30px;
    transform: translate(0, -10px);
  }

  .points {
    margin-left: 0.3rem;
    font-size: 2rem;
  }
}

.event-organizer-info {
  h5 {
    font-weight: normal;
    font-size: 1.8rem;
  }

  p {
    text-transform: capitalize;

    b {
      font-size: 1rem;
    }
  }
}

.flex-banner-top,
.flex-banner-bottom {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .attendees-info,
  .event-info {
    color: white;
    font-size: 1.1rem;
  }
}

.flex-banner-top i {
  padding-right: 1rem;
}
.flex-banner-bottom {
  bottom: 0;
}

.white-card {
  background-color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
}

.btn-cancel-wrapper {
  padding: 0.8rem;
  color: white;
  background-color: $purple;
  border-radius: 15px;

  label {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .btn-cancel {
    font-size: 1.1rem;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    color: $purple;
    padding: 0.5rem 1.2rem;
  }
}

.btn-attend {
  border: none;
  outline: none;
  background-color: $pink;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  font-size: 1.2rem;
}
/*========================================
        LANDING PAGE
/*========================================*/

.landing-corner {
  z-index: -200;
  position: absolute;
  top: 0;
  right: 0;
  height: 700px;
}

.hero-img {
  position: absolute;
  z-index: -100;
  right: 20rem;
  top: 5rem;

  img {
    width: 600px;
    height: 700px;
  }
}

.landing-page {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr auto 30vh 5rem auto 30vh 2rem auto 2rem auto 5rem auto;
  width: 100vw;

  .landing-header {
    grid-column: 2/12;
    grid-row: 1;
    height: 12vh;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .logo-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
        img {
          width: 50px;
          height: 50px;
        }
      }

      .company {
        margin: 0 1rem;
        font-size: 1.5rem;
      }
    }

    .container-buttons {
      display: flex;
      width: 35vh;
      justify-content: space-between;
      align-items: center;
      height: 12vh;

      .btn-login {
        padding: 0.5rem 1.8rem;
        background: transparent;
        border: 1px solid white;
        outline: none;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
      }

      .btn-signup {
        padding: 0.5rem 1.8rem;
        border: 1px solid white;
        outline: none;
        background-color: white;
        color: black;
        text-transform: uppercase;
      }
    }
  }

  .hero {
    grid-column: 2/13;
    grid-row: 2;
    display: flex;

    .hero-info {
      margin: 5rem 0 0 0;
      width: 25vw;

      p {
        font-size: 1.3rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 500;
      }

      .greyscale {
        margin: 1rem 0 0 0;
        color: grey;
        font-size: 1.2rem;
      }

      .btn-join {
        margin: 2rem 0 0 0;
        color: white;
        background-color: $purple;
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 10px;
        font-size: 1.3rem;
      }
    }
  }

  .search-section {
    grid-row: 7;
    grid-column: 2/12;

    h1 {
      text-align: center;
    }

    .search-box {
      margin: 2rem auto;
      height: 12vh;
      width: 65%;
      display: flex;
      align-items: center;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      padding: 1rem 2rem;

      input {
        width: 50%;
        outline: none;
        border: none;
      }

      select {
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
      }

      .btn-search {
        color: white;
        background-color: $purple;
        padding: 1.2rem 3.5rem;
        margin-left: 3rem;
        border-radius: 12px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        font-size: 1.2rem;
      }
    }
  }

  .host-event {
    grid-column: 2/12;
    grid-row: 9;

    h2 {
      margin: 2rem 2rem;
    }

    .host-event--cards {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .event-card {
        width: 25vw;
        border-radius: 12px;
        display: flex;
        flex-direction: column;

        .soon {
          background-color: $pink;
          padding: 0.8rem 1.5rem;
          color: white;
          font-size: 1.5rem;
          text-align: center;
          width: 60%;
          margin: 2rem auto 0 auto;
        }

        .container-img {
          display: flex;
          justify-content: center;
          img {
            width: 438px;
            height: 350px;
          }
          margin-top: -5rem;
          z-index: -5;
        }

        .header {
          padding: 1rem 2rem;
          background-color: $purple;
          color: white;
          font-size: 1.2rem;
          text-align: center;
          width: 82.5%;
          margin-top: -4.5rem;
          margin-left: auto;
          margin-right: 2.25rem;
          z-index: -10;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
    }
  }

  .top-attendees {
    position: relative;
    grid-row: 11;
    grid-column: 2/12;
    margin-top: 5rem;
    width: 100%;

    .attendees-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 2rem;
      margin-right: 2rem;

      .att-card {
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        padding: 3rem;
        width: 20vw;
        margin-right: 2rem;
        border-radius: 25px;
        height: 50vh;

        .att-img {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;

          img {
            width: 130px;
            height: 130px;
            border-radius: 80%;
          }
        }

        .att-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .att-points {
            font-size: 3rem;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: -3rem;
      right: 2rem;
      font-size: 1.2rem;
    }
  }

  .browse-by--category {
    grid-row: 13;
    grid-column: 2/13;

    .grid-cards {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 1rem;
      margin-right: 10rem;

      .category-card {
        display: flex;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        width: 23vw;
        height: 8vh;
      }

      .see-more {
        background-color: $purple;
        color: white;

        a {
          font-size: 1.2rem;
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

}
