@import "../../styles/base.scss";

.primary-button,
.secondary-button,
.light-button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: $button-primary;
  color: $text-primary-inverse;
  padding: 0.5rem 1.8rem;
}

.secondary-button {
  border-radius: 5px;
  background-color: $button-secondary;
}

.light-button {
  color: $text-primary;
}

.navbar-brand img {
  width: 50px !important;
  height: 50px !important;
}

.main-navbar-brand {
  font-size: 1.5rem;
  font-stretch: expanded;
  font-weight: 400;
  margin-left: 5rem;
  margin-right: 1rem;
}

.main-navbar {
  background-color: $primary;
}

.navlink-icon {
  margin-right: 2rem;
}

.footer {
  background-color: #111111;
  padding-top: 80px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}

.footer-widget {
  padding-bottom: 50px;
}

.footer-widget a {
  color: $text-primary-inverse;
  font-weight: 600;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 44px;
  color: #fff;
}

.footer-line {
  border-color: #afafaf;
}

.button-left {
  float: right;
}

.footer-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #888d90;
  margin: 0 0 1rem 0;
}
